<header class="cabezera">
    <div class="logo-edo">
        <img src="assets/img/2560px-SEP_Logo_2019.svg.png" alt="">
    </div>
    <div class="logo-tec">
        <img src="assets/img/LOGO-VERTICAL-TECNM.png" alt="">
    </div>
    <div class="logo-tescha">
        <img src="assets/img/teschalogo.png" alt="">
    </div>
</header>
<div class="cartas">
    <mat-card class="img1">
        <h1>Unete a nuestra comunidad</h1>

        <div class="slider-frame">
            <ul>
                <li><img src="assets/images/comunidad-virtual.png" alt=""></li>
                <li><img src="assets/images/diversidad.png" alt=""></li>
                <li><img src="assets/images/multitud.png" alt=""></li>
                <li><img src="assets/images/socios.png" alt=""></li>
            </ul>
        </div>
    </mat-card>


    <mat-card class="cuerpo">
        <h1>Registrate</h1>
        <form class="login">
            <p>Nombre completo:</p>
            <div class="input-box">
                <input type="text" placeholder="Introduce tu nombre y apellidos" required>
            </div>
            <p>Correo institucional:</p>
            <div class="input-box">
                <input type="email" placeholder="ejemplo@tesch.edu.mx" required>
            </div>
            <p>Matricula:</p>
            <div class="input-box">
                <input type="number" placeholder="Introduce tu matricula" required>
            </div>
            <p>Contraseña:</p>
            <div class="input-box">
                <input type="password" placeholder="Introduce tu contraseña" required>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox">Acepto los terminos y condiciones</label>
            </div>
            <button type="submit" hre><a href="login/">Registrar</a></button>
            <div class="register-link">
                <p>¿Ya tienes cuenta?<a href="iniciosesion/">¡Inicia sesion ahora!</a></p>
            </div>
        </form>
    </mat-card>
</div>